geopandas
scikit-learn
tbparse
fsspec
intake

torch
torchvision
tensorboard
torchaudio
shap
kaggle

pytest
pytest-mock

hydrodatasource

torch-geometric
# torch-scatter
# torch-sparse
# torch-cluster
# 注意：上述包可能需要从源码编译，如遇到问题请参考文档

setuptools
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip

pytest-runner
