--extra-index-url https://download.pytorch.org/whl/cu116
numpy
xarray
netCDF4
geopandas
scikit-learn
tqdm
pytest
tbparse

hydroutils
hydrodataset

bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip

pytest
pytest-runner