numpy~=1.23.4
xarray
netCDF4~=1.6.5
dask[complete]
geopandas~=0.14.0
scikit-learn
tqdm
tbparse~=0.0.7

pandas
torch~=1.12.1
torchvision
pillow~=9.5.0
hydroerr~=1.24
shap~=0.43.0
matplotlib
seaborn

kaggle~=1.5.16

hydroutils
hydrodataset