geopandas
scikit-learn
tbparse
fsspec
intake

torch
torchvision
tensorboard
torchaudio
shap
kaggle

pytest
pytest-mock

hydrodatasource

setuptools
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip

pytest-runner
